# =============== UNITY ===============

[Ll]ibrary/

[Tt]emp/

[Oo]bj/

[Bb]uild/

[Bb]uilds/

[Ll]ogs/

UserSettings/
 
# MemoryCaptures

MemoryCaptures/
 
# Asset meta data

*.pidb

*.booproj

*.svd

*.pdb

*.mdb

*.opendb

*.VC.db
 
# Unity cache

*.unitypackage
 
# Crash reports

sysinfo.txt
 
# VS Code

.vscode/
 
# Visual Studio

*.csproj

*.unityproj

*.sln

*.suo

*.tmp

*.user

*.userprefs
 
# OS

.DS_Store

Thumbs.db
 

 

 